@charset "UTF-8";

@keyframes arrow {
  0% {
    transform: translateX(0) rotate(225deg);
    opacity: 1;
  }
  100% {
    transform: translateX(10px) rotate(225deg);
    opacity: 1;
  }
}

body {
  --color: #000;
  --btn: #fff;
  --sqr-main: #fff;
  --sqr-shadow: rgba(0, 0, 0, 0.2);
}

/* @media (prefers-color-scheme: dark) {
  body {
    background: #444;
    color: #ddd;

    --color: #ddd;
    --btn: #444;
    --sqr-main: #444;
    --sqr-shadow: rgba(255, 255, 255, 0.2);
  }

  i {
    color: #ddd;
  }
} */

div {
  font-family: kt;
}

img {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

h1 {
  margin-left: 43%;
  margin-top: -20%;
  font-size: 300%;
}

.sqr {
  margin: auto;
  margin-top: 10%;
  width: 910px;
  height: 550px;
  border: solid 9px var(--sqr-main);
  border-radius: 50px;
  box-shadow: 0 0px 30px var(--sqr-shadow);
}

.name {
  margin-left: 30%;
  margin-top: -5%;
  font-size: 550%;
}

.id {
  margin-left: 43%;
  margin-top: -12%;
  font-size: 350%;
  color: #8bdaff;
}

.icon1 {
  position: relative;
  margin-left: 30%;
  top: -11%;
  font-size: 350%;
}
.icon1:hover::after {
  opacity: 0.8;
  content: "Sck_Day";
  font-size: 70%;
  animation: downIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
  position: absolute;
  bottom: 10px;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #23e5ec;
  transition: all 0.1s;
  transform: scale(0, 1);
  transform-origin: left top;
  color: var(--color);
}
.icon2 {
  position: relative;
  margin-left: 1%;
  top: -11%;
  font-size: 350%;
}
.x2:hover::after {
  opacity: 0.8;
  content: "Shicoku_";
  font-size: 70%;
  animation: downIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
  position: absolute;
  bottom: 10px;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #23e5ec;
  transition: all 0.1s;
  transform: scale(0, 1);
  transform-origin: left top;
  color: var(--color);
}
.dis:hover::after {
  opacity: 0.8;
  content: "Shicoku";
  font-size: 70%;
  animation: downIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #2f006d;
  transition: all 0.1s;
  transform: scale(0, 1);
  transform-origin: left top;
  color: var(--color);
}
.git:hover::after {
  opacity: 0.8;
  content: "Shicoku";
  font-size: 60%;
  animation: downIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #000000;
  transition: all 0.1s;
  transform: scale(0, 1);
  transform-origin: left top;
  color: var(--color);
}

.arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-left: 4px solid var(--color);
  border-bottom: 4px solid var(--color);
  transform: rotate(225deg);
}
.arrow:hover {
  animation: arrow 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

.comment {
  margin-left: 4.5%;
  margin-top: -4%;
  font-size: 330%;
}

.more-btn {
  margin-left: 70%;
  top: -25%;
  border: 2px solid var(--color);
  border-radius: 50px;
  font-size: 230%;
  display: inline-block;
  padding: 20px 50px;
  position: relative;

  color: var(--color);
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.more-btn:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: var(--color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.more-btn:hover {
  color: var(--btn);
}
.more-btn:hover:before {
  left: 0;
}

.copy {
  position: relative;
  margin-left: 5%;
  top: -25%;
}

@media screen and (max-width: 480px) {
  .size {
    margin-left: -160px;
    transform: scale(0.4, 0.4);
  }
}
